<nav class="navbar navbar-light navbar-expand-lg fixed-top">

  <div class="container">

    <a class="navbar-brand" href="/">Special Connections Academy</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <%- page == 'home' ? 'active' : '' %>">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item <%- page == 'about-us' ? 'active' : '' %> dropdown">
          <a class="nav-link" href="/about-us">About Us</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/about-us#history">History</a>
            <a class="dropdown-item" href="/about-us#mission">Mission &amp; Vision</a>
            <a class="dropdown-item" href="/about-us#team">Team</a>
          </div>
        </li>

        <li class="nav-item <%- page == 'program-information' ? 'active' : '' %> dropdown">
          <a class="nav-link" href="/program-information">Program Information</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/program-information#our-principles">Our Principles</a>
            <a class="dropdown-item" href="/program-information#dir-model">DIR Model</a>
            <a class="dropdown-item" href="/program-information#floortime">Floortime</a>
            <a class="dropdown-item" href="/program-information#academics">Academics</a>
            <a class="dropdown-item" href="/program-information#a-day-at-spc">A day at SPC</a>
            <a class="dropdown-item" href="/program-information#floortime-afternoon">Floortime Afternoon</a>
          </div>
        </li>

        <li class="nav-item <%- page == 'admissions' ? 'active' : '' %> dropdown">
          <a class="nav-link dropdown-toggle" href="/admissions">Admissions</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/admissions#who-we-serve">Who we serve</a>
            <a class="dropdown-item" href="/admissions#how-to-apply">How to apply</a>
            <a class="dropdown-item" href="/admissions#schedule-a-tour">Schedule a tour</a>
          </div>
        </li>

        <li class="nav-item <%- page == 'contact-us' ? 'active' : '' %> dropdown">
          <a class="nav-link dropdown-toggle" href="/contact-us">Contact Us</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/contact-us#our-location">Our Location</a>
            <a class="dropdown-item" href="/contact-us#join-our-team">Join our team</a>
          </div>
        </li>

        <li class="nav-item <%- page == 'donate' ? 'active' : '' %> dropdown">
          <a class="nav-link dropdown-toggle" href="/donate">Donate</a>
          <div class="dropdown-menu" style="right: 0; left: auto;">
            <a class="dropdown-item" href="/donate">Donate</a>
            <a class="dropdown-item" href="/donate#our-special-connections">Our special connections</a>
          </div>
        </li>



        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>